/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {

}

.vboxprincipal{
    -fx-background-image: url("\Modelo\pexels-pnklde-p-380089035-24605677.jpg") ;

}

.vboxcitosecundario{
       -fx-background-color: linear-gradient(to left,#BE6C28,#401F04);

    
}
.button {
    -fx-background-color: #E0E0E0; /* Fondo gris claro */
    -fx-background-radius: 15px; /* Bordes redondeados */
    -fx-text-fill: #000000; /* Texto negro */
    -fx-font-size: 16px; /* Tamaño de fuente */
    -fx-font-weight: bold; /* Negrita */
    -fx-padding: 8px 16px; /* Espaciado interno más pequeño */
    -fx-border-color: transparent; /* Sin borde visible */
    -fx-border-width: 0; /* Sin borde visible */
    -fx-cursor: hand;
    -fx-effect: dropshadow(gaussian, #E85D04, 7, 0.5, 3, 3); /* Sombra dorada ampliada */
}

.button:hover {
       -fx-cursor: hand;

    -fx-background-color: #D0D0D0; /* Fondo gris más oscuro al pasar el ratón */
}

.button:pressed {
        -fx-cursor: hand;

    -fx-background-color: #B0B0B0; /* Fondo gris aún más oscuro cuando se presiona */
    -fx-effect: none; /* Sin sombra cuando se presiona */
}
