.fondo{
    -fx-background-color: #383949;
}

.int_field{
    -fx-font-family: Poppins ExtraBold;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-letter-spacing: 2px;
    -fx-prompt-text-fill: #FFFFFF80;
    -fx-text-fill: #FFFFFF;
    -fx-max-width: 200px;
    -fx-max-height: 50px;
    -fx-pref-width: 200px;
    -fx-pref-height: 50px;
    -fx-padding: 0.875rem;
    -fx-font-size: 1rem;
    -fx-border-radius: 0;
    -fx-background-color: #1f2029;
    -fx-background-radius: 4 0 0 4;
    -fx-effect: dropshadow(gaussian, #6FFFE9, 2, 0, 2, 2);
}

.int_field:focused {
    -fx-prompt-text-fill: transparent;
    -fx-effect: dropshadow(gaussian, #6FFFE9, 5, 0, 5, 5);
}

.table {
    -fx-background-color: #383949;
    -fx-padding: 0;
    -fx-text-fill: #FFFFFF;
    -fx-border-color: #313345;
    -fx-border-radius: 2.5px;
    -fx-background-radius: 5px;
    -fx-border-width: 5;
    -fx-focus-traversable: false;
}

.table .scroll-bar:vertical {
    -fx-opacity: 0;
    -fx-disable: true;
    -fx-pref-width: 0;
}

.table .scroll-bar:horizontal {
    -fx-opacity: 0;
    -fx-disable: true;
    -fx-pref-height: 0;
}

.table:selected{
    -fx-background-color: #6FFFE9;
    
}

.table .column-header {
    -fx-background-color: #313345;
    -fx-border-color: transparent #313345 transparent transparent;
    -fx-border-width: 0 2 0 0;
}

.table .column-header .label{
    -fx-font-family: Poppins ExtraBold;
    -fx-font-weight: bold;
    -fx-font-size: 12px;
    -fx-text-fill: #FFFFFF;
}


/*.table .table-column {
    -fx-background-color: #000000;
    -fx-text-fill: #FFFFFF;
}*/


.table .table-cell {
    -fx-background-color: #57597e;
    -fx-text-fill: white;
    -fx-font-size: 12;
    /*-fx-border-color: #383949 #2a2c3b #383949 #2a2c3b;*/
    -fx-border-color: #383949;
    -fx-border-width: 4 2 4 2;
    -fx-font-weight: normal;
    -fx-alignment: center;
}

.table-view:row-selection .table-row-cell:filled:hover { 
    -fx-background-color: #6FFFE9;
}

.table-view:row-selection .table-row-cell:filled:selected:hover { 
    -fx-background-color: rgba(228, 183, 236, 0.90);
}


.table-view:row-selection .table-row-cell:filled:selected { 
    -fx-background-color: rgba(28, 183, 236, 0.65);
}

.table .table-row-cell:empty{
    -fx-background-color: transparent;
}

/*.table .table-row-cell:odd{
    -fx-background-color: #2b2d3d;
    -fx-text-fill: white;
    -fx-font-size: 12;
    -fx-border-color: #383949 #2a2c3b #383949 #2a2c3b;
    -fx-border-color: #383949;
    -fx-border-width: 4 2 4 2;
    -fx-font-weight: normal;
    -fx-alignment: center;
}

.table .table-row-cell:even{
    -fx-background-color: #313244;
    -fx-text-fill: white;
    -fx-font-size: 12;
    -fx-border-color: #383949 #2a2c3b #383949 #2a2c3b;
    -fx-border-color: #383949;
    -fx-border-width: 4 2 4 2;
    -fx-font-weight: normal;
    -fx-alignment: center;
}*/

.table .table-row:selected {
    -fx-background-color: #6FFFE9;
    -fx-text-fill: #fff;
    -fx-font-size: 12;
    -fx-font-weight: bold;
}

.table .selected {
    -fx-background-color: #6FFFE9;
}

.conetnedor_busquedas{
    -fx-background-color: #474969;
    -fx-background-radius: 20;
    -fx-alignment: TOP_CENTER;

}

.cancel_boton{
    -fx-margin: 1rem;
    -fx-border-width: 0;
    -fx-border-radius: 4px;
    -fx-font-size: 18px;
    -fx-font-family: Poppins ExtraBold;
    -fx-pref-width: 190px;
    -fx-pref-height: 50px;
    -fx-letter-spacing: 2px;
    -fx-cursor: hand;
    -fx-font-weight: bold;
    -fx-text-transform: uppercase;
    -fx-padding: 0.6em 1.2em;
    -fx-background-color: #3a506b;
    -fx-text-fill: #FFFFFF;
    -fx-effect: dropshadow(gaussian, #6FFFE933, 8, 0, 0, 2);
}

.cancel_boton:hover {
    -fx-background-color: #5e6681;
    -fx-text-fill: #6FFFE9;
}

.cancel_boton:pressed {
    -fx-scale-x: 0.9;
    -fx-scale-y: 0.9;
}

.transparente{
    -fx-background-color: transparent;
}